<div class="search">
    <form #form="ngForm" (submit)="onSubmit()">
        <input type="text" placeholder="Search city" name="city" [(ngModel)]="cityName">
    </form>
</div>

<img src="https://images.pexels.com/photos/1198507/pexels-photo-1198507.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="background" alt="hot" *ngIf="weatherData.current.temp_c > 15" />
<img src="https://images.pexels.com/photos/730256/pexels-photo-730256.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="background" alt="cold" *ngIf="weatherData.current.temp_c <= 15" />

<section class="container" *ngIf="weatherData">
    <div class="up ">
        <div class="icon">
            <img src="https:{{ weatherData.current.condition.icon }} " />
        </div>
        <div class="weather-data-container">

            <div class="weather-data">


                <div class="describe">{{ weatherData.current.condition.text }}</div>
                <div class="temperature">{{ weatherData.current.temp_c | number:'1.0-0'}}°C</div>
                <div class="location"> {{ weatherData.location.name }}, {{ weatherData.location.country}}</div>
            </div>
            <div class="date_time">
                <div class="time">{{weatherData.location.localtime | date:'shortTime'}}</div>
                <div class="date">{{weatherData.location.localtime | date:'longDate'}}</div>
            </div>

        </div>

    </div>
    <div class="down">
        <div class="more-info-container">
            <div class="flip-card-block">
                <div class="flip-card">
                    <div class="info-block-front">
                        <mat-icon class="icons ">thermostat</mat-icon>
                        <span>Feels Like</span>
                    </div>
                    <div class="info-block-back ">{{weatherData.current.feelslike_c | number:'1.0-0'}}°C</div>
                </div>
            </div>
            <div class="flip-card-block ">
                <div class="flip-card ">
                    <div class="info-block-front ">
                        <mat-icon class="icons ">compress</mat-icon>
                        <span>Pressure</span>
                    </div>
                    <div class="info-block-back ">{{ weatherData.current.pressure_mb }} mb</div>
                </div>
            </div>
            <div class="flip-card-block ">
                <div class="flip-card ">
                    <div class="info-block-front ">
                        <mat-icon class="icons yellow">wb_sunny</mat-icon>
                        <span>UV Index</span>
                    </div>
                    <div class="info-block-back ">{{ weatherData.current.uv }}/10</div>
                </div>
            </div>
            <div class="flip-card-block ">
                <div class="flip-card ">
                    <div class="info-block-front ">
                        <mat-icon class="icons blue">water_drop </mat-icon>
                        <span>Humidity</span>
                    </div>
                    <div class="info-block-back ">{{ weatherData.current.humidity }}%</div>
                </div>
            </div>
            <div class="flip-card-block ">
                <div class="flip-card ">
                    <div class="info-block-front ">
                        <mat-icon class="icons ">visibility</mat-icon>
                        <span>Visibility</span>
                    </div>
                    <div class="info-block-back ">{{ weatherData.current.vis_km }} km</div>
                </div>
            </div>
            <div class="flip-card-block ">
                <div class="flip-card ">
                    <div class="info-block-front ">
                        <mat-icon class="icons ">air</mat-icon>
                        <span>Wind Speed</span>
                    </div>
                    <div class="info-block-back ">{{ weatherData.current.wind_kph }} km/h</div>
                </div>
            </div>
            <div class="flip-card-block ">
                <div class="flip-card ">
                    <div class="info-block-front ">
                        <mat-icon class="icons ">north_east</mat-icon>
                        <span>Wind Direction</span>
                    </div>
                    <div class="info-block-back ">{{ weatherData.current.wind_degree }}°</div>
                </div>
            </div>

        </div>
    </div>
</section>
<footer class="footer">
    <a href=" https://www.weatherapi.com/ " title="Free Weather API ">
        <img src='https://cdn.weatherapi.com/v4/images/weatherapi_logo.png' alt="Weather data by WeatherAPI.com ">
    </a>
</footer>

<router-outlet> </router-outlet>