* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* body {
  background-color: #059669;
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  height: 100vh;
  align-items: center;
  justify-content: center;
  width: 100%;
  -webkit-user-select: none;
          user-select: none;
}
* body .search {
  margin-bottom: 1em;
  text-align: center;
  z-index: 1;
  position: relative;
}
* body .search input {
  background-color: rgba(0, 0, 0, 0.3);
  outline: none;
  border: none;
  color: #EDEDED;
  border-radius: 20px;
  padding: 1em;
  font-size: 0.8em;
  text-align: center;
}
* body .search input::placeholder {
  color: #EDEDED;
}
* body img.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
* body .container {
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  height: 60vh;
  width: 600px;
  position: relative;
  overflow: hidden;
}
* body .container .up {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
* body .container .up .weather-data-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  padding: 1em;
}
* body .container .up .weather-data-container .weather-data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
* body .container .up .weather-data-container .weather-data .icon {
  display: flex;
}
* body .container .up .weather-data-container .weather-data .location,
* body .container .up .weather-data-container .weather-data .temperature,
* body .container .up .weather-data-container .weather-data .describe {
  color: #ffffff;
  text-align: center;
}
* body .container .up .weather-data-container .weather-data .location {
  font-size: 1.2em;
}
* body .container .up .weather-data-container .weather-data .temperature {
  font-size: 4em;
  font-weight: 900;
}
* body .container .up .weather-data-container .weather-data .describe {
  font-size: 0.9em;
  text-transform: capitalize;
}
* body .container .up .weather-data-container .date_time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  color: #ffffff;
}
* body .container .up .weather-data-container .date_time .date {
  font-size: 2em;
}
* body .container .up .weather-data-container .date_time .time {
  font-size: 1em;
}
* body .container .down {
  display: flex;
  flex-direction: column;
  height: 20%;
  width: 100%;
}
* body .container .down .more-info-container {
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  flex: 1;
}
* body .container .down .more-info-container .flip-card-block {
  width: 20%;
  display: flex;
  perspective: 1000px;
}
* body .container .down .more-info-container .flip-card-block:hover .flip-card {
  transform: rotateY(180deg);
}
* body .container .down .more-info-container .flip-card-block .flip-card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
* body .container .down .more-info-container .flip-card-block .flip-card .info-block-front,
* body .container .down .more-info-container .flip-card-block .flip-card .info-block-back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
* body .container .down .more-info-container .flip-card-block .flip-card .info-block-front {
  flex-direction: column;
}
* body .container .down .more-info-container .flip-card-block .flip-card .info-block-front .icons {
  color: #ffffff;
  text-align: center;
}
* body .container .down .more-info-container .flip-card-block .flip-card .info-block-front .icons.yellow {
  color: #fbff00;
}
* body .container .down .more-info-container .flip-card-block .flip-card .info-block-front .icons.blue {
  color: #2aaaff;
}
* body .container .down .more-info-container .flip-card-block .flip-card .info-block-front span {
  color: #ffffff;
  font-size: 0.9em;
  text-align: center;
}
* body .container .down .more-info-container .flip-card-block .flip-card .info-block-back {
  color: #ffffff;
  text-align: center;
  transform: rotateY(180deg);
}
* body footer {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*# sourceMappingURL=styles.css.map*/